.hide {
    display: none !important;
}

.answer-button {
    border: none;
    border-radius: 10px;
    background-color: purple;
    font-size: 25px;
    color: white;
    padding: 10px 25px;
    display: block;
}

.questions {
    font-weight: bold;
    font-size: 32px;
}

.answer-button:hover {
    background-color: pink;
}