/* body {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 40px 20px;
}

.container {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 60%;
    padding-top: 185px;
}

.container p {
    text-align: center;
    font-size: 22px;
}
.start-btn {
    border: none;
    border-radius: 10px;
    background-color: purple;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
    margin: 10px auto;
    display: block;
}

.start-btn:hover {
    background-color: pink;
}

#question {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.answer-button {
    border: none;
    border-radius: 10px;
    background-color: purple;
    font-size: 18px;
    color: white;
    padding: 10px 25px;
    display: block;
}

.answer-button:hover {
    background-color: pink;
}
*/

.hide {
    display: none !important;
}